.error-container{
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 1281px) {
    margin-left: 0;
    width: 100%
  }

  @media (max-width: 1280px) {
    margin-left: 0;
    align-items: center;
    width: 100%;
    padding-top: 65px;
  }

  .error-title{
    font-size: 10vw;
    font-weight: 900;
  }

  .description{
    font-size: 2vw;
  }

  .link{
    font-size: 1vw;
    text-decoration-line: none;
    color: var(--text-color);
    margin-top: 2%;
    font-weight: 700;
  }

}
