<div class="auth-container">
  <div class="auth-card" [class.wide-card]="!isLoginMode">

    <div class="auth-tabs">
      <h2 (click)="setMode('login')" [class.active]="isLoginMode" >
        {{'AUTH.LOGIN' | translate}}
      </h2>
      <div class="divider"></div>
      <h2 (click)="setMode('register')" [class.active]="!isLoginMode">
        {{'AUTH.REGISTER' | translate}}
      </h2>
    </div>

    @if(isLoginMode){
        <div class="login-methods">
          <div class="button" (click)="setLoginMehod('email')" [class.active]="loginMethod==='email'">
            {{'AUTH.WITH_EMAIL' | translate}}
          </div>
          <div class="button" (click)="setLoginMehod('phone')" [class.active]="loginMethod==='phone'">
            {{'AUTH.WITH_PHONE' | translate}}
          </div>
        </div>
      }

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

      @if(!isLoginMode){
        <div class="row">
          <div class="form-group col-md-6">
            <label>*{{'AUTH.NAME' | translate}}</label>
            <input type="text" formControlName="name" class="form-control" placeholder="">
          </div>
          <div class="form-group col-md-6">
            <label>*{{'AUTH.SURNAME' | translate}}</label>
            <input type="text" formControlName="surname" class="form-control" placeholder="">
          </div>
        </div>
      }

      <div class="row">
        @if(!isLoginMode || (isLoginMode && loginMethod==='email')){
          <div [class.col-md-6]="!isLoginMode" [class.col-12]="isLoginMode" class="form-group">
            <label>@if(!isLoginMode){*}{{'AUTH.EMAIL' | translate}}</label>
            <input type="email" formControlName="email" class="form-control" placeholder="admin@test.com">
          </div>
        }
        @if(!isLoginMode || (isLoginMode && loginMethod==='phone')){
          <div [class.col-md-6]="!isLoginMode" [class.col-12]="isLoginMode" class="form-group">
            <label>@if(!isLoginMode){*}{{'AUTH.PHONE' | translate}}</label>
            <input type="tel" formControlName="phone" class="form-control" placeholder="905063630247">
          </div>
        }
      </div>


      <div class="row">
        <div class="form-group" [class.col-md-4]="!isLoginMode" [class.col-12]="isLoginMode">
          <label>@if(!isLoginMode){*}{{'AUTH.PASSWORD' | translate}}</label>
          <input type="password" formControlName="password" class="form-control" placeholder="******">
        </div>
        @if(!isLoginMode){
          <div class="form-group col-md-4">
            <label>*{{'AUTH.BIRTHDATE' | translate}}</label>
            <input type="date" formControlName="birthDate" class="form-control" placeholder="14.01.2005">
          </div>
          <div class="form-group col-md-4 ">
            <label>*{{'AUTH.ACCOUNT_TYPE' | translate}}</label>
            <select formControlName="role" class="form-control">
              <option  value="IndividualUser">{{'AUTH.INDIVIDUAL' | translate}}</option>
              <option value="CorporateUser">{{'AUTH.CORPORATE' | translate}}</option>
            </select>
          </div>
        }
      </div>

      @if(!isLoginMode){
        <div class="row">
          <div class="form-group col-12">
            <label>{{'AUTH.ADDRESS' | translate}}</label>
            <textarea formControlName="address" class="form-control" ></textarea>
          </div>
        </div>
      }

      @if(!isLoginMode){
        <p class="warning-text" style="font-size: small; margin: 0; padding:0;" >
          {{'AUTH.WARNING_TEXT' | translate}}
        </p>
      }

      @if(isLoginMode){
        <div class="form-check">
          <input type="checkbox" formControlName="remember" id="rem">
          <label for="rem">{{'AUTH.REMEMBER' | translate}}</label>
        </div>
      }


      <button type="submit" [disabled]="authForm.invalid" class="btn-submit">
        {{ (isLoginMode ? 'AUTH.LOGIN'  : 'AUTH.REGISTER') | translate }}
      </button>

      <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>

  </div>
</div>

