<div class="auth-container">
  <div class="auth-card" [class.wide-card]="!isLoginMode">

    <div class="auth-tabs">
      <h2 (click)="setMode('login')" [class.active]="isLoginMode" >
        {{'AUTH.LOGIN' | translate}}
      </h2>
      <div class="divider"></div>
      <h2 (click)="setMode('register')" [class.active]="!isLoginMode">
        {{'AUTH.REGISTER' | translate}}
      </h2>
    </div>

    @if(isLoginMode){
        <div class="login-methods">
          <div class="button" (click)="setLoginMethod('email')" [class.active]="loginMethod==='email'">
            {{'AUTH.WITH_EMAIL' | translate}}
          </div>
          <div class="button" (click)="setLoginMethod('phone')" [class.active]="loginMethod==='phone'">
            {{'AUTH.WITH_PHONE' | translate}}
          </div>
        </div>
      }

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

      @if(!isLoginMode){
        <div class="customer-types">
          <div class="button" (click)="setCustomerType('individual')" [class.active]="customerType === 'individual'">
            {{'AUTH.INDIVIDUAL-REGISTER' | translate}}
          </div>
          <div class="button" (click)="setCustomerType('corporate')" [class.active]="customerType === 'corporate'">
            {{'AUTH.CORPORATE-REGISTER' | translate}}
          </div>
        </div>

        @if(customerType==='individual'){
          <div class="row">
            <div class="form-group col-md-6">
              <label>*{{'AUTH.NAME' | translate}}</label>
              <input type="text" formControlName="name" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-6">
              <label>*{{'AUTH.SURNAME' | translate}}</label>
              <input type="text" formControlName="surname" class="form-control" placeholder="">
            </div>
          </div>
        } @else {
          <div class="row">
            <div class="form-group col-md-6">
              <label>*{{'AUTH.NAME' | translate}}</label>
              <input type="text" formControlName="name" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-6">
              <label>*{{'AUTH.SURNAME' | translate}}</label>
              <input type="text" formControlName="surname" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.STORE_NAME' | translate }}</label>
              <input type="text" formControlName="storeName" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.COMPANY_NAME' | translate }}</label>
              <input type="text" formControlName="companyName" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.TAX_NUMBER' | translate }}</label>
              <input type="text" formControlName="taxNumber" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.TAX_OFFICE' | translate }}</label>
              <input type="text" formControlName="taxOffice" class="form-control" placeholder="">
            </div>
          </div>
        }
      }

      <div class="row">
        @if(!isLoginMode || (isLoginMode && loginMethod==='email')){
          <div [class.col-md-4]="!isLoginMode" [class.col-12]="isLoginMode" class="form-group">
            <label>@if(!isLoginMode){*}{{'AUTH.EMAIL' | translate}}</label>
            <input type="email" formControlName="email" class="form-control" placeholder="admin@test.com">
          </div>
        }
        @if(!isLoginMode || (isLoginMode && loginMethod==='phone')){
          <div [class.col-md-4]="!isLoginMode" [class.col-12]="isLoginMode" class="form-group">
            <label>@if(!isLoginMode){*}{{'AUTH.PHONE' | translate}}</label>
            <input type="tel" formControlName="phone" class="form-control" placeholder="905063630247">
          </div>
        }
         <div class="form-group" [class.col-md-4]="!isLoginMode" [class.col-12]="isLoginMode">
          <label>@if(!isLoginMode){*}{{'AUTH.PASSWORD' | translate}}</label>
          <input type="password" formControlName="password" class="form-control" placeholder="******">
        </div>
      </div>

      @if(!isLoginMode){
        @if(customerType==='individual'){
          <div class="row">
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.STREET' | translate }}</label>
              <input type="text" formControlName="street" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.CITY' | translate }}</label>
              <input type="text" formControlName="city" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.POSTAL_CODE' | translate }}</label>
              <input type="text" formControlName="postalCode" class="form-control" placeholder="">
            </div>
            <div class="form-group col-md-3">
              <label>*{{ 'AUTH.COUNTRY' | translate }}</label>
              <input type="text" formControlName="country" class="form-control" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>*{{ 'AUTH.GENDER' | translate }}</label>
              <select formControlName="gender" class="form-control">
                <option value="" disabled selected>{{ 'AUTH.SELECT_GENDER' | translate }}</option>
                <option value="MALE">{{ 'AUTH.MALE' | translate }}</option>
                <option value="FEMALE">{{ 'AUTH.FEMALE' | translate }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>*{{'AUTH.BIRTHDATE' | translate}}</label>
              <input type="date" formControlName="birthDate" class="form-control">
            </div>
          </div>
        } @else {
          <div class="row">
            <div class="form-group col-12">
              <label>*{{ 'AUTH.COMPANY_ADDRESS' | translate }}</label>
              <input type="text" formControlName="companyAddress" class="form-control">
            </div>
          </div>
        }
      }

      @if(!isLoginMode){
        <p class="warning-text" style="font-size: small; margin: 0; padding:0;" >
          {{'AUTH.WARNING_TEXT' | translate}}
        </p>
      }

      @if(isLoginMode){
        <div class="form-check">
          <input type="checkbox" formControlName="remember" id="rem">
          <label for="rem">{{'AUTH.REMEMBER' | translate}}</label>
        </div>
      }


      <button type="submit" [disabled]="authForm.invalid" class="btn-submit">
        {{ (isLoginMode ? 'AUTH.LOGIN'  : 'AUTH.REGISTER') | translate }}
      </button>

      <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>

  </div>
</div>
