<div class="home-container">
  <div class="home-title">
    <h1>{{ title }}</h1>
  </div>

  <div class="products-layout">
    <div class="products-grid" *ngIf="products$ | async as products; else loading">
      <app-product-card
        *ngFor="let product of products"
        [product]="product">
      </app-product-card>

      <p *ngIf="products.length === 0">Aradığınız kriterde ürün bulunamadı.</p>
    </div>

    <ng-template #loading>
      <div class="spinner">Yükleniyor...</div>
    </ng-template>
  </div>
</div>




