:root {
  --bg-color: #f8f9fa;
  --card-bg: #ecedff;
  --text-color: #2d3748;
  --card-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 4px 8px rgba(48, 49, 51, 0.1);
  --disabled-bg: rgba(0, 0, 0, 0.06);
  --disabled-text: rgba(45, 55, 72, 0.6);
  --input-bg: #ffffff;
  --input-border: #cbd5e0;
  --input-focus: #3182ce;
  --theme-invert: 0;
}

body.dark{
  --bg-color: #1a202c;
  --card-bg: #2d3748;
  --text-color:#ffffff;
  --card-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 4px 8px rgba(48, 49, 51, 0.1);
  --disabled-bg: rgba(255, 255, 255, 0.08);
  --disabled-text: rgba(255, 255, 255, 0.5);
  --input-bg: #242c38;
  --input-border: #4a5568;
  --input-focus: #63b3ed;
  --theme-invert: 1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  background-color: var(--card-bg);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.main-content{
  margin-left: 250px;
  height: 100vh;
  background-color: var(--bg-color);
  @media(max-width: 1280px) {
    margin-left: 0;
  }
}
